@charset "utf-8";
/* CSS Document */

body {
    background-color:#ffffff;
    color:#000000;
    font-family: 'Cutive Mono', mono;
    font-size:16px;
    line-height:1.6em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Sorts+Mill+Goudy:400,400i');

p {
    margin:2em 0;
}

a:link, a:visited {
    color:inherit;
}

a:hover {
    text-decoration:none;
    color:#AD2834;
}

a.nah:link, a.nah:visited {
    text-decoration:none;
}

a.nah:hover {
    text-decoration:underline;
    color:white;
}

h1 {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight:400;
    text-align:center;
    line-height:1.25;
    padding-top:1em;  
    font-size:7em;
}

h2 {
    line-height:1.25;
    font-size:3em;
    text-align:center;
    font-family: 'Sorts Mill Goudy', serif;
    font-weight:normal;  
    margin:2em 0;
}

h3 {
    line-height:1.25;
    font-size:2em;
    text-align:center;
    font-family: 'Sorts Mill Goudy', serif;  
    font-weight:normal;   
    margin:2em 0;
}

h4 {
    line-height:1;
    font-size:1.5em;
    font-family: 'Sorts Mill Goudy', serif;
    margin-top:0;
    font-weight:normal;    
}

h5 {
    font-size:1em;
    text-transform: uppercase;
}

.drama {
    width:80%;
    margin:6em auto;
}

.turgy {
    width:45%;
    float:left;
    padding:0 2.5%;
}

html, body, #home, #writing, #witches, #resources, #media {
	height:auto;
	min-height: 100vh;
    width:100%;
    margin:0;
}

.biggestboi {
	height:auto;
	min-height: 100vh;
    width:100%;
    margin:0;
    display:block;
}

#contact {
	height:auto; 
    width:100%;
    margin:0;
}

#home, #writing, #witches, #resources, #media, #contact {
    padding:5em 0;
    width:100%;
}

#mainNav {
  line-height:4em;
  position:fixed; 
  top: 0em; 
  width:100%; 
    background-color:#ffffff;
    border-bottom:1px solid ;
    text-align: center;
    opacity:.7;
}

#mainNav {
  a, a:link, a:visited, a:hover, a:active {
    color:#eee; 
    text-decoration:none;
    display:inline-block;
  }
}

#mainNav a {
    margin:0 .25em 0;
    text-decoration:none;
    border-bottom:1px solid #3284A9;
}

#mainNav a:hover {
    color:#AD2834;
    border-bottom:0px;
}

.tete {
    width:80%;
    margin:auto;
}

.bigboi {
    width:90%;
    margin:auto;
}

.lilbud {
    width:50%;
    margin:auto;
}

.lilcaption {
    width:60%;
    margin:auto;
    font-size:.75em;
    text-transform:uppercase;
    margin-bottom:3em;
}

.espace {
    width:100%;
    margin:auto;
    height:6em;
    clear:both;
}

.caption {
    font-size:.75em;
    text-transform:uppercase;
    margin-top:3em;
    line-height:1.25;
}

.quote {
    font-family: 'Sorts Mill Goudy', serif;
    font-size:1.5em;
    width:70%;
    margin:auto;
    padding:1.5em;
    opacity:.5;
    line-height: 1.5;
}

.kwote {
    font-family: 'Sorts Mill Goudy', serif;
    font-size:2em;
    width:70%;
    margin:12em auto;
    line-height: 1.5;
    text-align: center;
}

#s-m-t-tooltip {
    max-width:300px;
    margin-top:-30px;
    margin-left:-25px;
    font-size:8px;
    font-family: {'Sorts Mill Goud', serif};
    letter-spacing:1px;
    text-align:center;
    text-transform:uppercase;
    padding:3px;
    color:white;
    background-color:black;
    z-index:999999;
}